.body{
    max-width: 100%;
}
main{
    max-width: 100%;
    margin-top: 100px;
}

.text{
    text-align: center;
}

.form-cep h1{
    font-size: 2em;
}

label{
    font-weight: 500;
}


fieldset{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}