.intro {
  margin-top: 8rem;
  width: 100%;
}

.title {
  width: 100%;
  margin-left: 1rem;
}

.title h1 {
  font-size: clamp(1.4em, 4vw, 2.5em);
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.title p {
  max-width: 100%;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: clamp(1.125em, 1.875vw, 1.4em);
}

.vectorOneDesc {
  width: 170px;
  position: absolute;
  right: 0;
  top: -10px;
  display: flex;
}

.vectorTwoDesc {
  position: absolute;
  left: 0;
  top: 10px;
  display: flex;
}

.vectorThreeDesc {
  position: absolute;
  top: 18rem;
}

.collecting {
  position: relative;
  width: 100%;
}

.collecting img {
  position: absolute;
  width: 100%;
  height: 25rem;
}

footer {
  margin-top: -80px;
}

.linha-materiais {
  margin-bottom: 5rem;
  border-radius: 25px;
  background-color: #34CB79;
  max-width: 100%;
  height: 5px;
}

.img-materiais {
  position: relative;
  display: inline-block;
  align-items: center;
}

.img-materiais img {
  max-width: 100%;
}

.img-materiais h4 {
  font-size: 1rem;
}

@media screen and (min-width: 1200px) {
  .title {
    width: 60%;
    margin-left: 6.5rem;
  }

  .title p {
    width: 85%;
  }

  .collecting {
    position: relative;
    width: 50%;
    left: 50%;
    top: -25rem;
  }

  .collecting img {
    position: absolute;
    width: 100%;
    margin-left: 2.5rem;
    text-align: center;
    margin-right: 0;
    max-width: 100%;
  }
}

@media screen and (min-width: 550px) {
  .linha-materiais {
    margin-top: 32rem;
    height: 4px;
  }

  .img-materiais {
    top: -7.5rem;
    max-width: 100%;
    width: 18%;
  }

  .img-materiais img {
    width: 60px;
    margin-left: 35%;
  }

  .img-materiais h4 {
    font-size: 1rem;
    margin-left: 40%;
  }
}

@media screen and (max-width: 550px) {
  .linha-materiais {
    margin-top: 30rem;
    height: 4px;
  }

  .img-materiais {
    top: -7rem;
    width: 18%;
  }

  .img-materiais img {
    width: 70%;
    margin-left: 26%;
    max-width: 80%;
  }

  .img-materiais h4 {
    font-size: 0.8rem;
    margin-left: 30%;
  }
}

@media screen and (min-width: 800px) {
  .linha-materiais {
    margin-top: 32rem;
  }

  .img-materiais {
    top: -7.5rem;
    width: 18%;
  }

  .img-materiais img {
    width: 60px;
    margin-left: 35%;
  }

  .img-materiais h4 {
    margin-left: 40%;
  }
}

@media screen and (max-width: 1200px) {

  .vectorOneDesc,
  .vectorTwoDesc,
  .vectorThreeDesc {
    visibility: hidden;
  }
}

@media screen and (min-width: 1000px) {
  .linha-materiais {
    margin-top: 32rem;
  }

  .img-materiais {
    top: -7.5rem;
    width: 18%;
  }

  .img-materiais img {
    width: 70px;
    margin-left: 35%;
  }

  .img-materiais h4 {
    margin-left: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .linha-materiais {
    margin-top: 9rem;
    height: 5.5px;
  }

  .img-materiais {
    top: -8rem;
    width: 18%;
  }

  .img-materiais img {
    width: 80px;
    margin-left: 55%;
  }

  .img-materiais h4 {
    margin-left: 60%;
  }
}